@media screen and (max-width: 760px){

    header{
        flex-direction: column;
        gap: 20px;
    }

    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 0;
    }

    main{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2{
        font-size: 40px;
        line-height: 0.1;
    }

    p{
        max-width: 100%;
    }

    form{
        margin: 0 auto;
        width: 100%;
        align-items: center;
    }

    input{
        width: 100%;
    }

    #inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 3px;
    border-radius: 30px;
    }

    img{
        max-width: 90%;
        height: auto;
        margin-top: 40px;
    }
}