@media screen and (max-width: 760px){

    header{
        flex-direction: column;
        gap: 16px;
    }

    ul{
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 0;
    }

    li{
        margin: 0;
        font-size: 14px;
    }

    #inscreva-se-btn{
        display: block;
        margin: 10px auto 0;
        border: 2px solid rgb(132, 14, 201);
        padding: 3px;
        border-radius: 30px;
    }

    main{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2{
        font-size: 40px;
        line-height: 1;
    }

    form{
        width: 100%;
        align-items: center;
    }

    input{
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    }

    img{
        max-width: 90%;
        margin-top: 40px;
    }
}