@media screen and (max-width: 760px){

    header{
        flex-direction: column;
        gap: 16px;
    }

    ul{
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 0;
        flex-wrap: wrap; 
    }

    ul a{
        font-size: 16px;
        text-decoration: none; 
    }

    #inscreva-se-btn{
        display: inline-flex;
        justify-content: center;
        margin-top: 10px;
        border: 2px solid rgb(132, 14, 201);
        padding: 4px 12px;
        border-radius: 30px;
        width: auto;
    }

    main{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2{
        font-size: 40px;
        line-height: 1;
    }

    form{
        width: 100%;
        align-items: center;
    }

    input{
        width: 100%;
        padding: 10px;
        border-radius: 16px;
    }

    img{
        max-width: 90%;
        margin-top: 40px;
    }
}